

<form class="" action="/registration" method="post">
  <div class="row">
    <div class="twelve columns">
      <div class="box"twelve="header-note">
      <div id="displayreg"><h2> Registration Numbers Webapp</h2>
 <strong><h3>Enter a registration number:</h3></strong></div>

        <br>
        <div id="textFieldAndBtn">
          <input type="text" class="registrationNum" name="nums" value="">
          <br>
          <button class="button-primary addBtn" on type="submit" name="button">Add</button>
          <button class="button-primary clearBtn" on type="submit" name="button">Clear</button>
          <br>
          <span> <span class="alert"></span> </span>
        </div>
         <br>
         <br>
        <div class="addTown">
          <label for="Town: "></label>
          <select class="DropSelector" name="selectTown">
            <option class="DropSelector"  name="selectTown" value="All ">All Towns</option>
            <option class="DropSelector"  name="selectTown" value="CA ">CapeTown</option>
            <option class="DropSelector"  name="selectTown" value="CJ ">Paarl</option>
            <option class="DropSelector"  name="selectTown" value="CY ">Bellville</option>
            <option class="DropSelector"  name="selectTown" value="CAW ">George</option>
            <option class="DropSelector"  name="selectTown" value="CW ">Worcester</option>

          </select>
        </div>

        <div class="numberDisplay">
          {{!-- <ul>
            <li></li>
          </ul> --}}
        <span class="displayNumbers">{{Numbers}} </span>
      </div>

        </div>
</form>

        {{#if messages.info}}
<div class="entry">
    <h1> {{messages.info}}</h1>
</div>
{{/if}}
      </div>
    </div>
