<!-- <div class="action">

  {{#each times}}
  <h1>
    hello,{{users_greeted}} has been greeted {{counter}} time(s)</h1>
    {{/each}}

<span><form class="" action="/home" method="post">

     <a href="/greeted"><input type="button" name="back" value="Greetings" class="bigBtn" ></a>
   </form></span>

</div> -->
