.container{
  text-align: center;
  background-color: tan;
  height: 650px;
  width: auto;
  }
  .bigBtn {
    width: 120px;
    height:60px;
    border: 2px solid;
    border-radius: 5px;
    background-color: white;
  }

h2 {
  background-color:black;
  height: 100px;
  color: white;
}
#displayreg{
  text-align: center;
}
#textFieldAndBtn{
  text-align: center;
}
  li   {
  border: 1px solid black;
  background-color: indianred;
  border-radius: 15px;
  padding: 10px;
  margin-top: 15px;
  margin-left: 5px;
  width: 10%;
  list-style: none;
  text-align: center;
  display: inline-block;
}

.registrationNum{
  height: 40px;
  width: 180px;
}
.displayNumbers{
border: 1px solid white;
border-radius: 50%;
}
.DropSelector {
  background-color: indianred;
  color: white;
  width: 150px;
  height: 40px;
  text-align: 100%;
 align-self: center;
 margin-left: 8px;
}


.entry {
  color: red;
}
.numberDisplay {
  margin-left: -6px;
  background-color:  black;
  height: 100px;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
